# --- Compose settings ---
COMPOSE_PROJECT_NAME=events-hub

# --- PostgreSQL settings ---
POSTGRES_DB=events-hub
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=events-hub
POSTGRES_PORT=5432

# --- RabbitMQ settings ---
RMQ__USERNAME=admin
RMQ__PASSWORD=admin
# RMQ__HOST=rabbitmq
RMQ__HOST=rabbitmq
RMQ__PORT=5672

# --- Redis settings ---
REDIS__HOST=redis
REDIS__PORT=6379
REDIS__DB=0
REDIS__PASSWORD=admin

# --- PgAdmin settings ---
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# --- MinIO settings ---
MINIO__LOGIN=login
MINIO__PASSWORD=password
MINIO__AWS_ACCESS_KEY_ID=ExAmP:leTokeNAcceS5iD
MINIO__AWS_SECRET_ACCESS_KEY=S3cRetT0kenAcce55KeY
MINIO__ENDPOINT_URL=http://minio:9000

# --- ElasticSearch settings ---
ELASTIC__HOST=http://elasticsearch:9200

# --- Auth settings ---
AUTH_SECRET_KEY=key
AUTH_ACCESS_TOKEN_LIFETIME=500
AUTH_ALGORITHM=HS256
AUTH__CONFIRM_CODE_TTL_SEC=600
AUTH__RESET_PASSWORD_TTL_SEC=600

# --- Email settings ---
EMAIL__SMTP_HOST=smtp.yandex.ru
EMAIL__SMTP_PORT=587
EMAIL__USERNAME=email@yandex.ru
EMAIL__PASSWORD=mini_app_smtp_app_password